<style>

.stats-result {
  margin: 0;
  border-top: 3px solid #ddd;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  overflow: auto;
  background-color: #fff;
  padding: 0px;
}
.stats-wrap h2 {
  font-size: 1.2rem;
  line-height: 21px;
  padding: 7pt 12pt;
  margin: 0;
  margin-top: 25px;
  background: #e6eaef;
  color: #656b6f;
  border-radius: 4px 4px 0 0;
}
.stats-result table tr td {
  vertical-align: middle;
}
.stats-result table tr th {
  vertical-align: middle;
  background: linear-gradient(45deg, var(--color-darkgreen) 10%, var(--blue-theme) 90%);
}
</style>

<div class="stats-wrap">
  <p>
    Přinášíme vám aktuální statistiky nehod za předchozí den a srovnání se stejným období letoška a loňska.
    Prosíme, jezděte opatrně, neriskujte a počítejte s chybami ostatních řidičů. Ať se vám tato statistika vyhýbá!
  </p>
  <h2>Dnešní statistiky</h2>
  <div class="stats-result table-responsive">
    <table class="table table-hover table-sm table-bordered text-center">

      <thead>
        <tr>
          <th scope="col">Kraj</th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet nehod</span></span>
              <img src="/images/icons/crash.png" width="48" height="48" alt="Počet nehod">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet úmrtí</span></span>
              <img src="/images/icons/tombstone.png" width="48" height="48" alt="Počet úmrtí">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet těžkých zranění</span></span>
              <img src="/images/icons/ambulance.png" width="48" height="48" alt="Počet těžkých zranění">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet lehkých zranění</span></span>
              <img src="/images/icons/minor_injuries.png" width="48" height="48" alt="Počet lehkých zranění">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Nepřiměřená rychlost</span></span>
              <img src="/images/icons/reason_speed.png" width="48" height="48" alt="Nepřiměřená rychlost">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Nedání přednosti v jízdě</span></span>
              <img src="/images/icons/reason_give_way.png" width="48" height="48" alt="Nedání přednosti v jízdě">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Nesprávné předjížděn</span></span>
              <img src="/images/icons/reason_passing.png" width="48" height="48" alt="Nesprávné předjížděn">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Pod vlivem návykových látek</span></span>
              <img src="/images/icons/reason_drunk.png" width="48" height="48" alt="Pod vlivem návykových látek">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Nesprávný způsob jízdy</span></span>
              <img src="/images/icons/reason_mistake.png" width="48" height="48" alt="Nesprávný způsob jízdy">
            </span>
          </th>
          <th scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Jiná příčina</span></span>
              <img src="/images/icons/reason_other.png" width="48" height="48" alt="Jiná příčina">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
      {{#each day.regions}}
        <tr>
          <td>{{ lookup ../REGIONS this.region }}</td>
          <td>{{ this.count }}</td>
          <td>{{ this.impact.deaths }}</td>
          <td>{{ this.impact.severely }}</td>
          <td>{{ this.impact.slightly }}</td>
          <td>{{ this.reason.speed }}</td>
          <td>{{ this.reason.giveway }}</td>
          <td>{{ this.reason.passing }}</td>
          <td>{{ this.reason.drunk }}</td>
          <td>{{ this.reason.mistake }}</td>
          <td>{{ this.reason.other }}</td>
        </tr>
      {{/each}}
        <tr>
          <td>Celkem</td>
          <td>{{ day.total.count }}</td>
          <td>{{ day.total.impact.deaths }}</td>
          <td>{{ day.total.impact.severely }}</td>
          <td>{{ day.total.impact.slightly }}</td>
          <td>{{ day.total.reason.speed }}</td>
          <td>{{ day.total.reason.giveway }}</td>
          <td>{{ day.total.reason.passing }}</td>
          <td>{{ day.total.reason.drunk }}</td>
          <td>{{ day.total.reason.mistake }}</td>
          <td>{{ day.total.reason.other }}</td>
        </tr>
      </tbody>

    </table>
  </div>

  <h2>Srovnání s loňským rokem</h2>
  <div style="overflow-x:auto;" class="stats-result table-responsive">
    <table class="table table-hover table-sm table-bordered text-center">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th colspan="2" scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet nehod</span></span>
              <img src="/images/icons/crash.png" width="48" height="48" alt="Počet nehod">
            </span>
          </th>
          <th colspan="2" scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet úmrtí</span></span>
              <img src="/images/icons/tombstone.png" width="48" height="48" alt="Počet úmrtí">
            </span>
          </th>
          <th colspan="2" scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet těžkých zranění</span></span>
              <img src="/images/icons/ambulance.png" width="48" height="48" alt="Počet těžkých zranění">
            </span>
          </th>
          <th colspan="2" scope="col">
            <span class="category-container" aria-haspopup="true" tabIndex="0">
              <span class="tooltip-box"><span class="tiptext">Počet lehkých zranění</span></span>
              <img src="/images/icons/minor_injuries.png" width="48" height="48" alt="Počet lehkých zranění">
            </span>
          </th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th scope="col">{{ lastYearValue }}</th>
          <th scope="col">{{ thisYearValue }}</th>
          <th scope="col">{{ lastYearValue }}</th>
          <th scope="col">{{ thisYearValue }}</th>
          <th scope="col">{{ lastYearValue }}</th>
          <th scope="col">{{ thisYearValue }}</th>
          <th scope="col">{{ lastYearValue }}</th>
          <th scope="col">{{ thisYearValue }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tento den</td>
          <td>{{ lastYear.day.count }}</td>
          <td>{{ thisYear.day.count }}</td>
          <td>{{ lastYear.day.impact.deaths }}</td>
          <td>{{ thisYear.day.impact.deaths }}</td>
          <td>{{ lastYear.day.impact.severely }}</td>
          <td>{{ thisYear.day.impact.severely }}</td>
          <td>{{ lastYear.day.impact.slightly }}</td>
          <td>{{ thisYear.day.impact.slightly }}</td>
        </tr>
        <tr>
          <td>Tento měsíc</td>
          <td>{{ lastYear.month.count }}</td>
          <td>{{ thisYear.month.count }}</td>
          <td>{{ lastYear.month.impact.deaths }}</td>
          <td>{{ thisYear.month.impact.deaths }}</td>
          <td>{{ lastYear.month.impact.severely }}</td>
          <td>{{ thisYear.month.impact.severely }}</td>
          <td>{{ lastYear.month.impact.slightly }}</td>
          <td>{{ thisYear.month.impact.slightly }}</td>
        </tr>
        <tr>
          <td>Tento rok</td>
          <td>{{ lastYear.year.count }}</td>
          <td>{{ thisYear.year.count }}</td>
          <td>{{ lastYear.year.impact.deaths }}</td>
          <td>{{ thisYear.year.impact.deaths }}</td>
          <td>{{ lastYear.year.impact.severely }}</td>
          <td>{{ thisYear.year.impact.severely }}</td>
          <td>{{ lastYear.year.impact.slightly }}</td>
          <td>{{ thisYear.year.impact.slightly }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>

<style>
  .category-container {
    position: relative;
    display: inline-block;
  }

  .tooltip-box {
    opacity: 0;
    width: 10rem;
    transition: opacity 0.25s linear;
    text-align: center;
    color: #fff;
    position: absolute !important;
    left: calc(50% - 5rem);
    z-index: 100;
    top: 50px;
    box-sizing: border-box;
  }

  .tooltip-box .tiptext:hover {
    opacity: 0;
  }

  .tooltip-box .tiptext {
    width: 100%;
    background-color: #fbfbfb;
    color: grey;
    border: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.3px;
    border-radius: 5px;
    padding: 5px 5px;
    box-shadow: 0 4px 2px -2px rgba(203, 206, 212, 0.8);
    user-select: none;
    display: block;
  }

  .category-container:hover .tooltip-box,
  .category-container:active .tooltip-box,
  .category-container:focus .tooltip-box {
    opacity: 1;
  }

  </style>
