.DS_Store
**/node_modules/

# local env files
.env.local
.env.*.local
**/env.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/backend/*.log

# Editor directories and files
.idea
.vscode

spa/dist
spa/backup/
spa/tests/e2e/videos/
spa/tests/e2e/screenshots/
transfer

#sensitive
/backend/.env
/backend/src/dist/
/backend/test/coverage

/spa/.env
/spa/.env.staging
/spa/.env.production
