<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{subject}}</title>
</head>
<body>
    <table cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
        <tbody>
            <tr>
                <td style="padding:0cm 0cm 0cm 0cm">
                    <div align="center">
                        <table border="1" cellpadding="0" cellspacing="0" width="650"  style="width:487.5pt;background:white;border:solid #c8f6e3 6.0pt">
                            <tbody>
                                <tr>
                                    <td valign="top" style="border: none; padding:0cm 0cm 0cm 0cm;">
                                        <div align="center">
                                            <table border="1" cellpadding="0" cellspacing="0" width="650" style="width:487.5pt;border:none;border-bottom:solid #cccccc 1.0pt">
                                                <tbody>
                                                    <tr>
                                                        <td width="140" style="width:70pt;border:none;padding:22.5pt 0pt 8.5pt 0pt">
                                                            <p class="normal" align="center">
                                                                <a href="{{WEB_URL}}">
                                                                <img border="0" width="80" height="80" style="background:#eeecf9;border-radius:10px;padding:2pt 1pt 3pt;" src="cid:budlogo">
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:none; padding:7.5pt 0pt 22.5pt 0pt">
                                                            <div align="center" >
                                                                <h2 style="font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;font-size:1.6rem; font-weight:bold;padding-top:0px; margin:0;text-align:center;color:#201f27;">Vítáme vás na portálu Mezi námi řidiči,</h2>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="border: none; padding:0cm 0cm 0cm 0cm;">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="border:none;padding:22.5pt 22.5pt 11.5pt 22.5pt">
                                                        <p style="font-size:10.5pt;line-height: 24px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">a vážíme si vaší důvěry. Nejdříve si ale musíme ověřit, že někdo nepodvrhnul
                                                            vaši emailovou adresu a že se jedná skutečně o váš email.<br>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border:none;padding:0pt 0pt 11.5pt 0pt">
                                                        <div align="center">
                                                            <a style="font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;color:#fff;font-weight:bold;text-align:center;text-decoration:none;font-size:14px;display:inline-block;border-radius:4px;margin:0;padding:15px 24px;background-color:#007bff;text-decoration: none;border: 0;" href="{{verificationLink}}">
                                                                {{verificationLink}}
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border:none;padding:0pt 22.5pt 22.5pt 22.5pt">
                                                        <p style="font-size:10.5pt;line-height: 21px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">
                                                            Pokud odkaz nejde otevřít, zkopírujte následující text a vložte jej do prohlížeče: {{verificationLink}}</p>
                                                        <p style="font-size:10.5pt;line-height: 21px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">Přejeme spoustu kilometrů bez nehody. A hlavně klid!</p>
                                                        <p style="padding:15pt 5pt 10pt 0pt;font-size:10.5pt;line-height: 21px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">
                                                        <strong>Váš tým portálu</strong><br>
                                                        Mezi námi řidici
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
