<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{subject}}</title>
</head>
<body>
<!-- Email Reset Password Style Start -->
<table cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
    <tbody>
        <tr>
            <td style="padding:0cm 0cm 0cm 0cm">
                <div align="center">
                    <table border="1" cellpadding="0" cellspacing="0" width="650"  style="width:487.5pt;background:white;border:solid #c8f6e3 6.0pt">
                        <tbody>
                            <tr>
                                <td valign="top" style="border: none; padding:0cm 0cm 0cm 0cm;">
                                    <div align="center">
                                        <table border="1" cellpadding="0" cellspacing="0" width="650" style="width:487.5pt;border:none;border-bottom:solid #cccccc 1.0pt">
                                            <tbody>
                                                <tr>
                                                    <td width="140" style="width:70pt;border:none;padding:22.5pt 0pt 8.5pt 0pt">
                                                        <p align="center" class="normal">
                                                            <a href="{{WEB_URL}}">
                                                                <img border="0" width="80" height="80"  src="cid:budlogo" style="background:#eeecf9; border-radius:10px;padding: 2pt 1pt 3pt;">
                                                            </a>
                                                        </p>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                    <td align="center" style="text-align:center;border:none; padding:7.5pt 10pt 22.5pt 10pt">
                                                        <h2 style="font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;font-size:1.6rem; font-weight:bold;padding-top:0px; margin:0;text-align:center;color:#201f27;">Zdravíme z portálu Mezi námi řidiči,</h2>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="border: none; padding:0cm 0cm 0cm 0cm;">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="border:none;padding:22.5pt 22.5pt 11.5pt 22.5pt">
                                                    <p style="font-size:10.5pt;line-height: 24px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">dostali jsme požadavek na změnu vašeho hesla. Pokud chcete heslo opravdu
                                                        změnit, otevřete odkaz níže. <b>Pozor</b>, má platnost 6 hodin.<br>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none;padding:0pt 0pt 11.5pt 0pt">
                                                    <div align="center">
                                                        <a style="font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;color:#fff;font-weight:bold;text-align:center;text-decoration:none;font-size:14px;display:inline-block;border-radius:4px;margin:0;padding:15px 24px;background-color:#007bff;text-decoration: none;border: 0;" href="{{verificationLink}}">
                                                            Zadat nové heslo
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:none;padding:0pt 22.5pt 22.5pt 22.5pt">
                                                    <p style="font-size:10.5pt;line-height: 21px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">
                                                        Pokud odkaz nejde otevřít, zkopírujte následující text a vložte jej do prohlížeče:</p>
                                                    <p style="font-size:10.5pt;line-height: 21px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">If you did not request a password change, feel free to ignore the email, just as we will ignore the password change request.</p>
                                                    <p style="font-size:10.5pt;line-height: 21px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">We wish you many kilometers without an accident. And most importantly calm!</p>
                                                    <p style="padding:15pt 5pt 10pt 0pt;font-size:10.5pt;line-height: 21px;font-family:Arial,Geneva,Tahoma,sans-serif,Poppin;">
                                                    <strong>Your team</strong><br>
                                                    Between us drivers
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
  <!-- Email Reset Password Style End -->
</body>
</html>
