<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{subject}}</title>
</head>
<body>
<a href="{{WEB_UR}}"><img src="cid:budlogo"></a>
<p>Zdravíme z portálu Mezi námi řidiči,</p>
<p>dostali jsme požadavek na změnu vašeho hesla. Pokud chcete heslo opravdu
změnit, otevřete odkaz níže. Pozor, má platnost 6 hodin.</p>
<p><a href="{{verificationLink}}">Zadat nové heslo</a>.</p>
<p>Pokud odkaz nejde otevřít, zkopírujte následující text a vložte jej do prohlížeče:</p>
<p> {{verificationLink}}</p>
<p>Pokud jste o změnu hesla nežádali, s klidem email ignorujte, stejně jako
my budeme ignorovat ten požadavek na změnu hesla.</p>
<p>Přejeme spoustu kilometrů bez nehody. A hlavně klid!</p>
<p>Váš tým portálu Mezi námi řidici</p>
</body>
</html>
