<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{subject}}</title>
</head>
<body>
<a href="{{WEB_UR}}"><img src="cid:budlogo"></a>
<p>Vítáme vás na portálu Mezi námi řidiči,</p>
<p>a vážíme si vaší důvěry. Nejdříve si ale musíme ověřit, že někdo nepodvrhnul
vaši emailovou adresu a že se jedná skutečně o váš email.</p>
<p><a href="{{verificationLink}}">Dokončit registraci</a>.</p>
<p>Pokud odkaz nejde otevřít, zkopírujte následující text a vložte jej do prohlížeče: {{verificationLink}}</p>
<p>Přejeme spoustu kilometrů bez nehody. A hlavně klid!</p>
<p>Váš tým portálu Mezi námi řidici</p>
</body>
</html>
