//https://github.com/twbs/bootstrap/blob/8fa0d3010112dca5dd6dd501173415856001ba8b/scss/_variables.scss#L782-L808
$gray-900: #212529 !default;
$primary: $gray-900;
:root,
html[theme="default"] {
  --text-color: #222222;
  --text-color-light: #949494;
  --body-color: #f2f2f2;
  --color-white: #fff;
  --color-green: #28a745;
  --color-darkgreen: #077247;
  --color-lightgreen: rgba(129, 215, 66, 0.9);
  --bg-light: #ecf7fb;
  --dark-color: #343A40!important;
  --red-color: rgb(158, 5, 5);
  --pinkbg-light: rgba(242, 0, 145, .2);
  --pinkbg-sharp: rgb(242, 0, 145);
  --pinkBorder: #d90082;
  --primary-bt-color: #2d4989;
  --theme-blue: #53a1ff;
  --box-shadow: -2px 2px 3px rgba(57, 73, 76, 0.1);
  --big-shadow: 10px 10px 52px -30px rgba(0, 0, 0, 0.75);
  --inside-padding: 18px 25px;
  --shadow-color: 57, 73, 76;
  --shadow-color-active: rgba(var(--shadow-color), 0.25);
  --drop-shadow-one: 0 1px 6px rgba(var(--shadow-color), 0.35);
  --drop-shadow-active: 0 2px 10px 1px rgba(var(--shadow-color), 0.4),
    0 1px 2px rgba(var(--shadow-color), 0.25);
    --drop-shadow-two: #c1c1c1 1px 1px 10px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
p, label{
    font-size: 14px;
}
label{ font-weight: 300;}
a:hover{
    text-decoration: none;
}

textarea, input:focus, button:focus {
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
    box-shadow: none!important;

}
input[type="text"], input[type="password"], textarea, select {
    outline: none;
    box-shadow: none!important;
}
*:focus {
    outline: none;
}
svg{ color: var(--text-color-light);}
.gredient-gray{
    background: #fefefe;
  padding: 25px;
  /* box-shadow: 0px 10px 5px #888, 0px -10px 5px #888; */
  background-image: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgb(251 251 251 / 85%) 100%);
}
.brand-pic{
    img{ width: 85%;}
}
.rightmenu{
    li{
        a{
            display: flex;
            align-items: center;
            font-size: 14px;

            svg{
                font-size: 12px!important;
                margin-right: 10px;
                color: #ffc107;
            }


        } a:hover, a:hover svg{
            color: var(--color-white)!important;
        }
        ul.dropdown-menu{
            li {
                a{
                    :hover{  background-color: #f8f9fa;}
                    :active{ color: #fff;}
                }
                :hover { color: #333!important;background-color: #f8f9fa;}
                :focus
                :active {
                    color: #333!important;
                    background-color: #28a745;
                }
            }
        }
    }
}
.nav-brand {
    img.brand{
        width: 75%;
    }
}
.title-tag{
    h2{
        font-size: 29px;
    }
    span{
        font-size: 14px;
    }
}

.no-padding .card-header{
    padding: 0!important;
    li {
        a{ color: #333;border-bottom: 1px solid #ddd;}
        a.active{ border-radius: 0; font-weight: 400;
        }
        :active{
            background-color: #f8f9fa;
        }
    }
}
.no-padding .card-header:first-child{
    padding: 0!important;
}

.no-padding ul.nav-tabs{ border: 0;
     li{
        a{
            border-radius: 0;
            color: var(--text-color-light);
        }.active{
            color: #333;
            font-weight: 500;
            border-radius: 3px;
            border: 1px solid #ddd;
            box-shadow: #c1c1c1 1px 1px 10px;
        }
    }
}
.no-padding{
    width: 100%;
}
.post-content > h1{
    font-size: 2rem;
    padding: 0 0 25px 0;
  }

.prof-header .b-avatar{  background-color: transparent; border: 1px solid #ddd; color: #AEB3B7!important;}
@media (min-width: 1920px) {
    p, a, button, li, span{ font-size: 20px}
svg{ font-size: 20px;}
.title-tag h2 a{ font-size: 36px!important;}
.title-tag span {
    font-size: 18px;
}
.brand-pic img {
    width: 100%;
    margin-right: 15px;
}
.rightmenu li a{
    font-size: 20px;
}

}
@media (max-width: 992px) {

.prof-header .b-avatar {
    margin-top: 0px;
    width: 50px!important;
    height: 50px!important;
}
}
@media (max-width: 767px) {
    h2{ font-size: 1.3rem;}
    .brand-pic{ width: 50px;
        img{width: 90%;}
    }
    .title-tag {padding-right: 10px;
        h2 {
           a {
               font-size: 22px;
           }
        }
        span{ font-size: 12px;}
    }

    .no-padding ul.nav-tabs li a{ padding: 10px; font-size: 13px;}

}