# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
    paths:
      - 'backend/**'
      - '!backend/doc/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
        mongodb-version: [4.2]

    env:
      JWT_SECRET: SUPERTAJNEHESLO
      MONGODB_URI: mongodb://localhost:27017/bud?retryWrites=true&w=majority
      MAILER: fake
      DEFAULT_SENDER: github@literak.cz
      TEMPLATE_DIRECTORY: ../emails

    defaults:
      run:
        shell: bash
        working-directory: backend

  # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.3.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
        mongodb-replica-set: bud

    - run: npm install

    - run: mongo "$MONGODB_URI" doc/database/mongo_setup.js

    - run: npm test
      env:
        CI: true
